{% load i18n sizeformat %}

<div class="info detail">
  <dl class="dl-horizontal">
    <dt>{% trans "Name" %}</dt>
    <dd>{{ app_service.name|default:_("None") }}</dd>
    <dt>{% trans "ID" %}</dt>
    <dd>{{ app_service.id|default:_("None") }}</dd>
    <dt>{% trans "Direction" %}</dt>
    <dd>{{ app_service.direction|default:_("None") }}</dd>
    <dt>{% trans "Source port" %}</dt>
    <dd>{{ app_service.src_port|default:_("None") }}</dd>
    <dt>{% trans "Destination port" %}</dt>
    <dd>{{ app_service.dest_port|default:_("None") }}</dd>
    <dt>{% trans "dscp" %}</dt>
    <dd>{{ app_service.dscp|default:_("None") }}</dd>
    <dt>{% trans "protocol" %}</dt>
    <dd>{{ app_service.protocol|default:_("None") }}</dd>
  </dl>
</div>
