{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Application Details"%}{% endblock %}

{% block css %}
  <style type="text/css">
    {% include 'nuage/css/nuage.css' %}
  </style>
  {{ block.super }}
{% endblock %}

{% block main %}
<div class="row">
  <div class="col-sm-12">
    {% include "nuage/applications/_detail_overview.html" %}
    <hr>
    <div id="tiers">
      {{ tiers_table.render }}
    </div>
    <div id="flows">
      {{ flows_table.render }}
    </div>
  </div>
</div>
{% endblock %}
