{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-body-right %}
    <style>
        .nuage-mac {
            cursor: wait;
        }

        .nuage-mac input {
            border: none;
            outline: none;
            font-family: monospace;
        }
    </style>
  <h3>{% trans "Description:" %}</h3>
  <p>
    {% trans "Create an allowed address pair for this port."%}
    <br/>
    {% trans "Subnet cidr (1st fixed ip): "%} {{ subnet.cidr }}</p>
{% endblock %}

{% block modal-js %}
  {{ block.super }}
  <script type="text/javascript">
    {% include 'nuage/networks/ports/_addresspair_script.js' %}
  </script>
{%  endblock %}
