  <script type='text/javascript'>
    function hideTab(checked, hide_on, hide_tab) {
      if (checked == hide_on) {
        // If the checkbox is not checked then hide the tab
        $('*[data-target="#' + hide_tab + '"]').parent().hide();
        $('.button-next').hide();
        $('.button-final').show();
      } else if (!$('*[data-target="#' + hide_tab + '"]').parent().is(':visible')) {
        // If the checkbox is checked and the tab is currently hidden then show the tab again
        $('*[data-target="#' + hide_tab + '"]').parent().show();
        $('.button-final').hide();
        $('.button-next').show();
      }
    }

    $(document).on("change", 'input.switchable', function (evt) {
      var $fieldset = $(evt.target).closest('fieldset'), $switchables = $fieldset.find('input.switchable');

      $switchables.each(function (index, switchable) {
        var $switchable = $(switchable),
          hide_tabs = $switchable.data('hide-tabs'),
          checked = $switchable.prop('checked'),
          hide_on = $switchable.data('hideOnChecked');

        if (hide_tabs) {
          hide_tabs = hide_tabs.split(' ');
          for (var i = 0; i < hide_tabs.length; i++) {
            hideTab(checked, hide_on, hide_tabs[i]);
          }
        }
      });
    });
    var wizard = $('.workflow.wizard');

    horizon.modals.init_wizard = function () {
      // If workflow is in wizard mode, initialize wizard.
      var _max_visited_step = 0;
      var _validate_steps = function (start, end) {
        var $form = $('.workflow > form'),
            response = {};

        if (typeof end === 'undefined') {
          end = start;
        }

        // Clear old errors.
        $form.find('td.actions div.alert-danger').remove();
        $form.find('.form-group.error').each(function () {
          var $group = $(this);
          $group.removeClass('error');
          $group.find('span.help-block.error').remove();
        });

        // Send the data for validation.
        $.ajax({
          type: 'POST',
          url: $form.attr('action'),
          headers: {
            'X-Horizon-Validate-Step-Start': start,
            'X-Horizon-Validate-Step-End': end
          },
          data: $form.serialize(),
          dataType: 'json',
          async: false,
          success: function (data) { response = data; }
        });

        // Handle errors.
        if (response.has_errors) {
          var first_field = true;

          $.each(response.errors, function (step_slug, step_errors) {
            var step_id = response.workflow_slug + '__' + step_slug,
                $fieldset = $form.find('#' + step_id);
            $.each(step_errors, function (field, errors) {
              var $field;
              if (field === '__all__') {
                // Add global errors.
                $.each(errors, function (index, error) {
                  $fieldset.find('div.actions').prepend(
                          '<div class="alert alert-message alert-danger">' +
                          error + '</div>');
                });
                $fieldset.find('input,  select, textarea').first().focus();
                return;
              }
              // Add field errors.
              $field = $fieldset.find('[name="' + field + '"]');
              $field.closest('.form-group').addClass('error');
              $.each(errors, function (index, error) {
                $field.before(
                        '<span class="help-block error">' +
                        error + '</span>');
              });
              // Focus the first invalid field.
              if (first_field) {
                $field.focus();
                first_field = false;
              }
            });
          });

          return false;
        }

        var formData = response.form_data;
        if (formData) {
          $.each(formData, function (id, value) {
            $('#' + id).val(value);
          });
        }

        var lockedFields = response.locked_fields;
        if (lockedFields) {
          $.each(lockedFields, function (id, locked) {
            var element = $('#' + id)
            if (locked) {
              element.attr('readonly', 'readonly');
              if (element.is('select')) {
                element.attr('onfocus', 'this.defaultIndex=this.selectedIndex;');
                element.attr('onchange', 'this.selectedIndex=this.defaultIndex;');
              }
            } else {
              element.removeAttr('readonly');
              if (element.is('select')) {
                element.removeAttr('onfocus', 'this.defaultIndex=this.selectedIndex;');
                element.removeAttr('onchange', 'this.selectedIndex=this.defaultIndex;');
              }
            }
          });
        }

        var hiddenFields = response.hidden_fields;
        if (hiddenFields) {
          $.each(hiddenFields, function (id, hidden) {
            if (hidden)
              $('#' + id).parent().parent().hide();
            else
              $('#' + id).parent().parent().show();
          });
        }
      };

      $('.workflow.wizard').bootstrapWizard({
        tabClass: 'wizard-tabs',
        nextSelector: '.button-next',
        previousSelector: '.button-previous',
        onTabShow: function (tab, navigation, index) {
          var $navs = navigation.find('li');
          var total = $navs.length;
          var current = index;
          var $footer = $('.modal-footer');
          _max_visited_step = Math.max(_max_visited_step, current);
          if (current + 1 >= total) {
            $footer.find('.button-next').hide();
            $footer.find('.button-final').show();
          } else {
            $footer.find('.button-next').show();
            $footer.find('.button-final').hide();
          }
          $navs.each(function(i) {
            $this = $(this);
            if (i <= _max_visited_step) {
              $this.addClass('done');
            } else {
              $this.removeClass('done');
            }
          });
        },
        onNext: function ($tab, $nav, index) {
          return _validate_steps(index - 1);
        },
        onTabClick: function ($tab, $nav, current, index) {
          // Validate if moving forward, but move backwards without validation
          return (index <= current ||
              _validate_steps(current, index - 1) !== false);
        }
      });
    };
  </script>
