{% load i18n sizeformat %}

<div class="info detail">
  <dl class="dl-horizontal">
    <dt>{% trans "Name" %}</dt>
    <dd>{{ tier.name|default:_("None") }}</dd>
    <dt>{% trans "ID" %}</dt>
    <dd>{{ tier.id|default:_("None") }}</dd>
    <dt>{% trans "Type" %}</dt>
    <dd>{{ tier.type|default:_("None") }}</dd>
    <dt>{% trans "Description" %}</dt>
    <dd>{{ tier.description|default:_("None") }}</dd>
    {% if tier.cidr %}
      <dt>{% trans "Cidr" %}</dt>
      <dd>{{ tier.cidr }}</dd>
    {% endif %}
    <dt>{% trans "Application" %}</dt>
    <dd>
      <a href="{% url 'horizon:project:applications:detail' tier.associatedappid %}">
      {{ tier.associatedappid }}
      </a>
    </dd>
  </dl>
</div>
